.img {
	max-width: 100%;
}

img {
	max-width: 100%;
	max-height: auto;
}

.para {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
